#t{display: block;
    margin-top: 300px;
    margin-left: 25px;
    text-align: center;
   
   

  
 

    font-family: 'Dancing Script', cursive;

  }
#x{margin-left: 55vw;
margin-bottom: 100vw;}
#y{ 
  border: none;
  color: white;
  padding: 5px;
  margin: 10px;
margin-left: 90px;
 

 
  cursor: pointer;
}
#r{
  margin-left: 60px;
}
#e {
  margin-left: 90px;
}